/*
 * Bliphome
 *
 */


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 81.25%; /* should match system size */
  margin: 0;
  background: rgb(241, 243, 244);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shelf {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bookmark {
  display: inline-block;
  width: 100px;
  margin: 12px;
}

.bookmark>a {
  display: block;
  padding: 12px 8px;
  text-decoration: none;
  color: inherit;
  transition: all 200ms ease-out;
}

.bookmark>a:hover {
  background-color: rgba(0, 0, 0, 0.04);
  background-color: white;
  border-radius: 8px;
  transform: translateY(-2px);
}

.bookmark__img {
  display: block;
  margin: 0 0 12px;
}

.bookmark__img>img {
  filter: grayscale();
}

.bookmark:hover img {
  filter: none;
}

.bookmark__label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
